body{
    background-color: #000000;
    position:relative;
    padding: 10px 40px;
    margin:10px 10px;
}

h5{font-family: bord demo;}

header{
    background-image: url("pictures/header.png");
    background-position: center;
    padding: 10px 10px;
}

#logo{
    position: relative;
    width:15%;
    margin-left: auto;
    margin-right: auto;
      
}
.mreze{
	position:fixed;
	top:44%;
	left:95%;
	width:60px;
	margin:10px;
}

#navbarDropdown{color:white;}

#fb1{
    color:white;
    font-size:45px;
    padding:5px;
}
#instagram1{
    color:white;
    font-size:45px;
    padding:5px;
}
#twitter1{
    color:white;
    font-size:45px;
    padding:5px;
}

#raveStation{
    font-family: Bord Demo;
    text-align: center;
    font-size: 22px;
    transition-duration:1s;
}
#raveStation:hover{
    color: #b77678;
}

#aboutus{
    font-family: Bord Demo;
}

#div1{
    position: relative;
    background: white;
    font-family: Bord Demo;
    text-align: center;
    height: 46px;
}
.pdiv1{
    position: relative;
    font-size: 20px;
    top:14%;
}

#ravebar{
    color:white;
    font-family: Bord Demo;
}

#color-news{
    color: white;
    background: black;
}

#search{
    background:#7d0f1a;
    color:white;
    border:none;
    transition: 0.5s;
}
#search:hover{
    background:#290602;
    color:white;
    border:none;
}

#search2{
    background:#7d0f1a;
    color:white;
    border:none;
    transition-duration: 0.5s;
}
#search2:hover{
    background:#290602;
    color:white;
    border:none;
}

.container{
    position: relative;
    display:block;
    width: 100%;
    height: auto;
}
#onama{
    position: relative;
    opacity: 94%;
}

#card-body{
    background-color:black;
    color:white;
}

hr{
    background-color:white;
}

#textaboutus{
    font-family: Bord Demo;
    font-size: 12px;
}

#textaboutus2{
    font-family: Bord Demo;
    font-size: 12px;
}

#ravegif{
    position: relative;
    height: 100px;
}

.ravegif{
    position: relative;
    width:40%;
    top:-166%;
    left:30%;
    
}

#font{
    font-family: bord demo;
}
#date{
    font-family: bord demo;
}

.arrow1{
    position: relative;
    width:60%;
    top:35%;
}

.arrow2{
    position: relative;
    width:60%;
    top:35%;
    left:40%;
}

#novosti{
    position: relative;
    height: auto;
    display: inline-block;
    padding: 10px 20px;
}

.novosti{
    font-family: Bord Demo;
    color: white;
    text-align: center;
}

#novost1{
    font-family: bord demo;
    text-align: center;
}
#novost2{
    font-family: bord demo;
    text-align: center;
}
#novost3{
    font-family: bord demo;
    text-align: center;
}

#txtnovost1{
    text-align: center;
}
#txtnovost2{
    text-align: center;
}
#txtnovost3{
    text-align: center;
}

#button1{
    position: relative;
    background: black;
    border:1px solid white;
    font-family: bord demo;
    transition-duration:1s;
}

#button1:hover{
    background: white;
    border:1px solid black;
    color: black;
}

#novosti2{
    margin-top:10px;
}

#button2{
    position: relative;
    background: black;
    border:1px solid white;
    font-family: bord demo;
    transition-duration:1s;
}
#button2:hover{
    background:white;
    border:1px solid black;
    color: black;
}

#button3{
    position: relative;
    background:black;
    border:1px solid white;
    font-family: bord demo;
    transition-duration:1s;
}
#button3:hover{
    background: white;
    border:1px solid black;
    color: black;
}

#go{
    position: relative;
    background: black;
    border:1px solid white;
    font-family: bord demo;
    transition-duration:1s;
    left:47%;
    top:64%;
}

#go:hover{
    background: white;
    border:1px solid  black;
    color: black;
}

#statue1{
    position: absolute;
 	z-index: 5;
 	opacity: 1;
}

#statue1:hover{
    opacity: 0; 
    transition-duration: 1.3s;
}

#statue2{
    opacity: 1;
}

#novosti3{
    margin-top: 10px;
}

#div-interview{
    position: relative;
    left:-2%;  
}

#statue3{
    position: absolute;
 	z-index: 5;
 	opacity: 1;
}

#color-rave{
    color: white;
}

#color-kalendar{
    color: white;
}

#color-shop{
    color: white;
}

#color-upoznajte{
    color: white;
}

#color-kontakt{
    color: white;
}

#color-dropdown1{
    color:black;
    transition-duration:0.5s;
}
#color-dropdown1:hover{
    background: black;
    color:white;
}

#color-dropdown2{
    color:black;
    transition-duration:0.5s;
}
#color-dropdown2:hover{
    background: black;
    color:white;
}

#color-dropdown3{
    color:black;
    transition-duration:0.5s;
}
#color-dropdown3:hover{
    background: black;
    color:white;
}

#buttonb{
    background:white;
    border: 1px solid white;
    color:black;
    font-family: bord demo;
    transition-duration:1s;
}

#buttonb:hover{
    border:1px solid white;
    background: black;
    color:white;
}

#downCards{
    margin-top: 12px;
    padding-left: 30px;
    padding-right: 40px;
    
}

#cardback{
    background-color: black;
    color: white;
}
#cardback2{
    background-color: black;
    color: white;
}
#cardback3{
    background-color: black;
    color: white;
}

#buttonCards{
    position: relative;
    background: black;
    border:1px solid white;
    font-family: bord demo;
    transition-duration:1s;
}
#buttonCards:hover{
    background:white;
    border:1px solid black;
    color: black;
}

#buttonCards2{
    position: relative;
    background: black;
    border:1px solid white;
    font-family: bord demo;
    transition-duration:1s;
}
#buttonCards2:hover{
    background:white;
    border:1px solid black;
    color: black;
}

#buttonCards3{
    position: relative;
    background: black;
    border:1px solid white;
    font-family: bord demo;
    transition-duration:1s;
}
#buttonCards3:hover{
    background:white;
    border:1px solid black;
    color: black;
}

#button-Prijava{
    position: relative;
    background: black;
    border:1px solid white;
    font-family: bord demo;
    transition-duration:1s;
}
#button-Prijava:hover{
    background:white;
    border:1px solid black;
    color: black;
}

#footer{
    background-color: black;
    color: white;
    font-family: bord demo;
}

#form{
    position: relative;
    left:20%;
}

#slides{
    margin-top: -14px;
}

#fest{
    margin-top: 2px;
}

.container2{
    position: relative;
}

#kokec{
    position: relative;
    padding: 5px 5px;
    width:360px;
    height: 446px;
    left:5%;
}

#about-kokec{
    color:white;
    background: black;
    font-family: bord demo;
}

#about-Kokic{
    font-size: 15.2px;
    font-family: Helvetica;
}

.najava{
    font-family: bord demo;
    color:white;
    text-align: center;
}

.play{
    position: relative;
    width:14%;
    left:43%;
}

#play{margin-top: 12px;}

.song{
    font-family: bord demo; 
    color:white;
}

h4{
    font-family: Bord Demo; 
    font-size: 16px;
    text-align: center;
    color:white;
    }

.container3{padding: 10px 10px;}

#card-height1{
    height:370px;
}
#card-height2{
    height:370px;
}
#card-height3{
    height:370px;
}

#go1{
    position: relative;
    background: #005326;
    border:1px solid white;
    font-family: bord demo;
    transition-duration:1s;
}
#go1:hover{
    background: white;
    border:1px solid black;
    color: black;
}

#go2{
    position: relative;
    background: #a40911;
    border:1px solid white;
    font-family: bord demo;
    transition-duration:1s;
}
#go2:hover{
    background:white;
    border:1px solid black;
    color: black;
}

#go3{
    position: relative;
    background: #005326;
    border:1px solid white;
    font-family: bord demo;
    transition-duration:1s;
}
#go3:hover{
    background:white;
    border:1px solid black;
    color: black;
}

h3{
    font-family: Bord Demo;
    text-align: center;
    color:#017800;
}

#greenL{
    background-color: black;
    color: white;
    text-align: center;
}

#docek{
    font-family: bord demo;
}

#satnica-Lea{
    font-family: bord demo;
}
#satnica-Jay{
    font-family: bord demo;
}
#satnica-Nina{
    font-family: bord demo;
}

#kon{
    margin-top: 10px;
    display: inline-block;
    position: fixed;
}

.informacije{
    font-family: bord demo;
    color: #ffffff;
    margin-top: 10px;
}
#email-div{
    display: inline-block;
    width: 100%;
    margin-left: -10px;
}

#telefon-div{
    display: inline-block;
    width: 100%;
}

#adresa-div{
    display: inline-block;
    width: 100%;
}

#email-kontakt{
    width:80%;
    transition: 1s;
}

#email-kontakt:hover{
    width:82%;
    transition: 1s;
}

#adresa-kontakt{
    width: 80%;
    transition: 1s;
}

#adresa-kontakt:hover{
    width: 82%;
    transition: 1s;
}

#telefon-kontakt{
    width: 80%;
    transition: 1s;
}

#telefon-kontakt:hover{
    width: 82%;
    transition: 1s;
}



@media only screen and (max-width: 991.98px){
    .ravegif{margin-top: 66px;  }
    #slides{margin-top:10px}
    .arrow1{display: none;}
    .arrow2{display: none;}
    #onama{
        width:500px; 
        margin-top: -26px;
    }
    #div-interview{display: none;}
    #fest{margin-top: 12px;}
    #nav{
        left:25%; 
        margin-top:16px;}
}

@media only screen and (max-width: 575.98px){
   .ravegif{ 
       margin-top:124px;
       left:30%;}
   #onama{
       width:410px; 
       margin-top:-50px;} 
   #nav{left:6%;}
}


